body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input,textarea,select ,span{
    padding: 0;
    margin: 0;
    border: 0;
    font: 14px/1.5 "PingFang SC", Helvetica, "Helvetica Neue", "微软雅黑", Tahoma, Arial, sans-serif;
}
body {
    font-size: 12px;
}
ul, ol, li {
    list-style: none;
}
img {
    border: none;
    display: block;
}
a {
    text-decoration: none;
    display: block;
}
a:hover {
    text-decoration: none;
}
input, select, textarea {
    outline: none;
}
textarea {
    resize: none;
}
/*清除浮动*/
.clear {
    zoom: 1;
}
.clear:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}


/*网站头部*/
.index-header-box{
    width: 100%;
    padding-top: 21px;
    background: #fff;
    border-bottom: 1px solid #e3e7e8;
}
.index-header-box .header-container{
    margin: 0 0 0 auto;
    width: 1340px;
    height:60px;
}
.index-header-box .header-container .logo{
    float: left;
    width:140px;
    height: 50px;
    margin-left: 20px;
    margin-right: 90px;
    background: url(http://sandbox.runjs.cn/uploads/rs/450/dco6xqd5/logo.png) no-repeat;
    background-size: 100%;
}
.index-header-box .header-container .header-nav{
    float: left;
    margin-right: 40px;
    height: 40px;
    border-radius:5px;
}
.index-header-box .header-container .header-nav li{
    float: left;
    height: 38px;
    line-height: 38px;
    border: 1px solid #2fb3ff;
    margin-right: -1px;
}
.index-header-box .header-container .header-nav li a{
    font-size: 13px;
    color: #2fb3ff;
    padding: 0 18px;
}
.index-header-box .header-container .header-nav .current{
    background: #2fb3ff;
}
.index-header-box .header-container .header-nav .current a{
    color: #fff;
}
.index-header-box .header-container .list{
    float: left;
    width: 66px;
    height: 40px;
    margin-right: 10px;
}
.index-header-box .header-container .list .login{
    font-size: 13px;
    color: #3f3f40;
}
.icon-commonsty{
    display: inline-block;
    width:20px;
    height: 20px;
    margin-top: -2px;
    vertical-align:middle;
    background: url(http://sandbox.runjs.cn/uploads/rs/450/dco6xqd5/imgs.png) no-repeat;
}
.index-header-box .header-container .login .icon1{
    margin-right: 3px;
    background-position: 0 0;
}
.index-header-box .header-container .handle{
    float: left;
    width: 52px;
    height: 40px;
    position: relative;
}
.index-header-box .header-container .user-handle{
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}
.index-header-box .header-container .icon2{
    margin-right: 4px;
    background-position: -98px -237px;
}
.index-header-box .header-container .icon5{
    display: inline-block;
    font-size: 0;
    width: 9px;
    height: 5px;
    background: url(images/img.png) -60px 0 no-repeat;
    vertical-align:middle;
    position: absolute;
    left:24px;
    top: 17px;
}
.index-header-box .header-container .icon3{
    margin-right: 4px;
    background-position: -20px 0;
}
.index-header-box .header-container .icon4{
    margin-right: 4px;
    background-position: -40px 1px;
}
.index-header-box .header-container .searchBox{
    float: right;
    margin-right: 10px;
    width: 448px;
    height: 38px;
    border-radius: 2px;
    border: 1px solid #2fb3ff;
    position: relative;
}
.index-header-box .header-container .searchBox .searchArea{
    width: 370px;
}
.index-header-box .header-container .searchBox .searchArea .search-icon{
    display: inline-block;
    position: absolute;
    left: 11px;
    top: 11px;
    width: 16px;
    height: 16px;
    background: url(http://sandbox.runjs.cn/uploads/rs/450/dco6xqd5/imgs.png) -133px -189px no-repeat;
}
.index-header-box .header-container .searchBox .searchArea .search-input{
    float: left;
    width: 300px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 9px 38px 9px 38px;
    vertical-align: middle;
    font-size: 14px;
    color: #555;
    background: #fff;
}
.index-header-box .header-container .searchBox .searchArea a{
    width: 20px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 88px;
    background: url(http://r4.ykimg.com/0510000056C3F4D767BC3D1F8D09775A) no-repeat left center;
}
.index-header-box .header-container .searchBox button{
    position: absolute;
    top: -1px;
    right: -1px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color: #2fb3ff;
    color: #FFF;
    text-align: center;
    border: 0;
    font-size: 13px;
    font-family: "\5FAE\8F6F\96C5\9ED1";
}

/*网站头部导航*/
.index-top-nav{
    height: 51px;
    border-bottom: 1px solid #e3e7e8;
    background-color: #FFF;
    color: #555;
}
.index-top-nav .top-nav-content{
    margin: 0 auto;
    width: 1325px;
    padding-left: 15px;
}
.index-top-nav .top-nav-content .top-nav-main{
    float: left;
}
.index-top-nav .top-nav-content .top-nav-main li{
    float: left;
    margin-right: 6px;
    height: 50px;
}
.index-top-nav .top-nav-content .top-nav-main li a{
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
    font-size: 14px;
    color: #555;
}
.index-top-nav .top-nav-content .top-nav-main li a:hover{
    color: #ff3c00;
}
.index-top-nav .top-nav-content .top-nav-main .current a{
    color: #2fb3ff;
    border-bottom: 2px solid #2fb3ff;
}
.index-top-nav .top-nav-content .top-nav-more{
    float: left;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
}
.index-top-nav .top-nav-content .top-nav-more .icon6{
    overflow: hidden;
    display: inline-block;
    width: 9px;
    height: 5px;
    line-height: 0;
    font-size: 0;
    vertical-align: middle;
    background: url(images/img.png) -60px 0 no-repeat;
}
.index-top-nav .top-nav-content .top-nav-more .top-nav-down, .top-nav-down a{
    float: right;
    width: 80px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    color: #555;
}

/*网站主体内容*/

/*公共样式*/
.index-body{
    background-color: #f1f2f3;
    padding-top: 20px;
}
.public-container{
    width: 1320px;
    background: #fff;
    margin: 0 auto 20px auto;
    padding: 20px 0 0px 20px;
}
.public-container li{
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.public-container li img{
    width: 200px;
    height: 110px;
}
/*首页最上方的推荐版块*/
.index-body .top-recommend .bimg img, .index-body .top-recommend .bimg a{
    width: 420px;
    height: 240px;
}
.index-body .top-recommend li{
    position: relative;
}
.index-body .top-recommend li span{
    padding: 0 10px 5px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
}
.body-header{
    margin: auto 20px 20px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}
.body-header .icon{
    float: left;
    display: inline-block;
    margin: -6px 10px 0 0;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.body-header .ads{
    float: right;
}
.body-header a{
    float: left;
    font-size: 20px;
    color: #555;
    height: 24px;
    line-height: 24px;
}
.body-header a span{
    margin-left: 20px;
}
.body-header a:hover{
    color: #ff3c00;
}
.video-name{
    color: #555;
    width: 200px;
    margin-top: 10px;
    word-break:break-all;
}
.video-name:hover{
    color: #ff3c00;
}
.des{
    color: #999;
    font-size: 12px;
    vertical-align: bottom;
}

/*优酷懂你*/
.understand-left{
    float: left;
    width: 1100px;
}
.understand-left .video-name{
    height: 38px;
    line-height: 18px;
}
/*产品大全*/
.understand-right{
    float: left;
    width: 200px;
}
.understand-right .products{
    margin-bottom: 10px;
}
.allproducts .productslist li{
    margin-bottom: 0;
}
.allproducts .productslist li img{
    float: left;
    width: 20px;
    height: 20px;
    padding-top: 10px;
}
.allproducts .productslist li dl{
    margin-left: 30px;
    border-bottom: 1px solid #f6f6f6;
    padding: 12px 0;
    overflow: hidden;
}
.allproducts .productslist li dl dt{
    float:left;
    padding-right: 10px;
    font-size: 14px;
    color: #555;
    border-right: 1px solid #e3e7e8;
    height: 16px;
}
.allproducts .productslist li dl dt a{
    color: #555;
    line-height: 16px;
}
.allproducts .productslist li dl dd{
    overflow: hidden;
    height: 15px;
    font-size: 12px;
    float: right;
    height: 16px;
}
.allproducts .productslist li dl dd a{
    float: left;
    margin-left: 8px;
    color: #999;
    line-height: 16px;
}
.allproducts .productslist li dl a:hover{
    color: #ff3c00;
}

/*剧集*/
.drama .first img{
    width: 420px;
    height: 292px;
}

/*底部*/
.index-footer{
    padding-top: 30px;
    margin: 0 auto;
    text-align: left;
    color: #555;
    overflow: hidden;
    background: #f1f2f3;
}
.index-footer dl{
    display: inline-block;
    text-align: left;
    float: left;
}
.index-footer .f1{
    vertical-align: top;
    width: 440px;
}
.index-footer .f2{
    vertical-align: top;
    width: 440px;
}
.index-footer .f3{
    vertical-align: top;
    width: 220px;
}
.index-footer .f4{
    vertical-align: top;
    width: 200px;
}
.index-footer dt ,.index-footer dt a{
    color: #909090;
}
.index-footer dd, .index-footer dt {
    padding: 0;
    margin: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.index-footer a{
    margin-right: 10px;
    font-size: 12px;
}
.index-footer dt a,.index-footer dd a{
    float: left;
}
.index-footer dd,.index-footer dd a{
    color: #555;
}
.hr{
    border-bottom: 1px solid #e3e7e8;
    height: 0;
    padding-top: 20px;
    margin-bottom: 20px;
    clear: left;
}
.f4 .two-bar-codes{
    height: 96px;
}
.report{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    clear: left;
}
.report a{
    padding-left: 36px;
    line-height: 15px;
    color: #191d24;
    margin-right: 45px;
    text-decoration: none;
    display: inline-block;
    background: url(http://sandbox.runjs.cn/uploads/rs/450/dco6xqd5/3.png) no-repeat;
}
.index-footer a:hover{
    color: #ff3c00;
}http://sandbox.runjs.cn/uploads/rs/450/dco6xqd5/1.jpg